@import "../../style/vars.scss";
.quiz-container {
  display: flex;
  width: 700px;
  background: $main;
  border-radius: 16px;
  margin-top: 50px;
  padding: 30px 60px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  .question-header {
    width: 350px;
  }
  .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: $bg;
  }
  .total-question {
    font-size: 16px;
    font-weight: 500;
    color: $text;
  }
  h2 {
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    color: $bg;
  }
  ul {
    width: 350px;
    margin-top: 20px;

    li {
      text-decoration: none;
      list-style: none;
      color: $bg;
      font-size: 16px;
      background: $foreground;
      border: 1px solid $bg;
      border-radius: 12px;
      padding: 11px;
      margin-top: 15px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      cursor: pointer;
    }
    li:hover {
      background: $main;
    }
  }

  .result-container {
    padding-left: 35%;
    .result {
      text-align: center;
      h3 {
        font-size: 24px;
        letter-spacing: 1.4px;
        text-align: center;
      }
      p {
        font-size: 16px;
        font-weight: 500;

        span {
          color: $bg;
          font-size: 22px;
        }
      }
    }
  }
}
