$main: #6e07f3;
$bg: #f7f7f7;
$bg-accent: $bg;
$text:  #1a1a4b;
$foreground:   #5906d0;
$black: black;
$container-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$white: #ffff;
