$main: #5b0888;
$bg: #f6f1f1;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;
$black: black;
$container-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$white: #ffff;
